<div id="map-sub-sidebar" [hidden]="!isOpen">
  <div class="sidebar-container bg-white p-3 h-100 border" >
    <div class="sidebar-headder">
      <h3 class="text-center">Layer</h3>
      <h4>Center Coordinate</h4>
    </div>
    <div class="tree-container border mt-3 p-2">
      <p>{{selectedItem?.centerPt}}</p>
    </div>
  </div>
  <div class="toggle-button-container">
      <button class="btn toogle-button" (click)="togglePane()">
        <i *ngIf="isOpen" class="fa fa-caret-left"></i>
        <i *ngIf="!isOpen" class="fa fa-caret-right"></i>
      </button>
  </div>
</div>