:host {
    app-map-sidebar {
        position: fixed;
        margin:15px;
        top:0;
    }
    app-map-sub-sidebar {
        position: fixed;
        margin:15px;
        left:345px;
        top:0;
    }
}